/* 
font-face 
*/

@font-face {
  font-family: "frederickatheGreat"; src: url("/fonts/FrederickatheGreat-Regular.ttf") format("truetype");
}

* {
  max-height: 35em;
  outline: red 1px solid; 
 }

/*
  DIAGNOSTIC STYLING Body & Header
*/

.whole-header {
  background-position: center;
  background-color:#468077;
  background-repeat: no-repeat;
  background-size: contain; 
  height: 400px; 
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  /* border-block-color: white; */
  border-block-start-width: 3em;
 }

 #writing-samples:hover {
  color: #cbb74b; 
}

.art-navigation {
  display: flex; 
  font-family: 'frederickatheGreat', sans-serif;
}

 #entire-picture {
  position: absolute;
  top: 70px;
  right: 30px; 
  width: 100vw;
  height: 400px; 
 }

 #writing-samples:hover {
  color: #cbb74b; 
}

 #writing-samples {
   display: flex;
   justify-content: right;
   font-size: 30px;
   color: rgb(255, 255, 255); 
 }

 #designs:hover {
  color: #cbb74b; 
}

 #designs {
  display: flex;
  justify-content: right;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

#photography:hover {
  color: #cbb74b; 
}

#photography {
  display: flex;
   justify-content: right;
  font-size: 30px; 
  color: rgb(255, 255, 255);
}
 
 .header-svg-title-whole {
  height: 350px; 
  width: 100%; 
  display: flexbox;
  margin-top: -7em; 
  /*position: absolute;
  right: 1.8rem;
  top: 3.5rem;
  */
 }

 .header-text{
  color: white; 
  width: 100%; 
  border-radius: 10px; 
  height: 150px; 
  display: flex; 
  flex-direction: column; 
  align-items: flex-end;
  margin-right: 100px; 
  margin-bottom: 100px; 

 }
 
 #header-subtitle{
  font-family: 'muli-regular', sans-serif;
  text-transform: uppercase; 
  font-size: 14px; 
  position: relative;
  left: 800px;
  bottom: 55px; 
 }
 
 #header-title {
   color: white;   
   font-family: 'frederickatheGreat', sans-serif;
   text-transform: uppercase; 
   font-size: 24px;
   position: relative;
   right: 90px;
   bottom: 35px; 
 }
 
 .nav-and-button {
   width: 100%;
   height: 100px; 
   display: flex;
   justify-content: center; 
   align-items: flex-start; 
 }
 
 /*
  DIAGNOSTIC STYLING overlay-navigation (class)
 */
 
 .overlay-navigation {
   display: flex; 
   justify-content: center;
   flex-direction: row;
   align-items: flex-end;
   margin: -1em 0em 0em 0px; 
   width: 100%;
   text-transform: uppercase; 
 }

 #nav_item_1 {
   margin-top: 45px;
 }
 
 .nav-text {
  display: none;
  font-family: 'muli-regular', sans-serif;
  border: solid black 1px;  
   height: 4.5px;
   padding: 5px; 
   display: flex; 
   align-items: center;
   justify-content: center;
   margin: 0px 30px 0px 30px; 
   text-decoration: none;
   color: black; 
   border-radius: 5px; 
   background-color: rgba(255, 255, 255, 0.5); 
    font-size: 7px; 
    width: 35px; 
 }
 
 /*
  DIAGNOSTIC STYLING open-overlay (div)
 */
 
 .open-overlay { 
  position: absolute;
  right: 3rem;
  top: 1.65rem;
  width: 11px;
  height: 10px; 
  background-color: rgb(255, 255, 255);
   border: solid 1px #2F3135; 
   border-radius: 2px; 
   padding: 4px; 
   display: block;
   cursor: pointer;
 }

 .open-overlay span {
   display: block;
   height: .5px;
   width: 10px; 
   background-color: #29363B;
   cursor: pointer;
   margin-top: .5px; 
   margin-left: 0px; 
 }

 /* First Frame all bars */ 
 .bar-top {
  position: absolute;
  top: 3px; 
  margin-top: .5px; 
}

.bar-middle {
  position: absolute;
  top: 8.5px;
  margin-top: .5px; 
}

.bar-bottom {
  position: absolute;
  top: 14px;
   margin-top: .5px; 
}
  
 /*
 DIAGNOSTIC STYLING Section: Subject Nav
*/

.subject-select {
  width: 100%;
  margin-right: 30px; 
  display: flex;
  flex-direction: row; 
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: -20.2em; 

  animation: slideInRight 2s;
}


.circles {
  display: flex; 
  justify-content: flex-start; 
  margin-top: 13em; 
  margin-right: 5px; 
  height: 75px; 
  width: 75px; 
  padding: 10px;
}

.subject-text{
text-transform: uppercase;
text-decoration: none;
color: black;
font-size: 7px;
}

.subject-text:hover {
color: #C1A04C;
}

a:hover {
  color: #C1A04C;
}

#designs-title{
  position: relative;
  left: 4.5em;
  top: 37.2em;
}

#documents-title{
position: relative;
left: 3.5em;
top: 37.2em;
}

#photography-title{
position: relative;
left: 3em;
top: 37.2em;
}

 /*
 DIAGNOSTIC STYLING Section: Social Media Nav
*/

.social-media {
width: 100%;
margin-right: 3em; 
display: flex;
flex-direction: row; 
justify-content: flex-end;
align-items: flex-start;
margin-top: -10em; 
}

.social-media-options {
display: flex; 
justify-content: flex-start; 
height: 20px; 
width: 20px; 
padding: 10px;
}

@media only screen and (max-width: 500px) {

  * {
    max-height: 25em;
   }

   .header-svg-title-whole {
    height: 350px; 
    width: 100%; 
    display: flexbox;
    margin-top: -7em; 
    position: absolute;
    top: 10rem;
   }


.overlay-navigation {
  display: flex; 
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
  margin: -1em 2em 0em 0px; 
  width: 100%;
  text-transform: uppercase; 
}

#nav_item_1 {
  margin-top: 45px;
}

.nav-text {
 display: none;
 font-family: 'muli-regular', sans-serif;
 border: solid black 1px;  
  height: 4px;
  padding: 5px; 
  display: flex; 
  align-items: center;
  justify-content: center;
  margin: 0px  10px 0px 10px; 
  text-decoration: none;
  color: black; 
  border-radius: 5px; 
  background-color: rgba(255, 255, 255, 0.5); 
   font-size: 6px; 
   width: 25px; 
}

/*
  DIAGNOSTIC STYLING open-overlay (div)
 */
 
 .open-overlay { 
  position: absolute;
  right: 1rem;
  top: 1.65rem;
  width: 11px;
  height: 10px; 
  background-color: rgb(255, 255, 255);
   border: solid 1px #2F3135; 
   border-radius: 2px; 
   padding: 4px; 
   display: block;
   cursor: pointer;
 }

 .open-overlay span {
   display: block;
   height: .5px;
   width: 10px; 
   background-color: #29363B;
   cursor: pointer;
   margin-top: .5px; 
   margin-left: 0px; 
 }

   /*
 DIAGNOSTIC STYLING Section: Subject Nav
*/

.subject-select {
  width: 100%;
  margin-right: 30px; 
  display: flex;
  flex-direction: row; 
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: -20.2em; 

  animation: slideInRight 2s;
}


.circles {
  display: flex; 
  justify-content: flex-start; 
  margin-top: -1em; 
  margin-right: -2px; 
  height: 60px; 
  width: 60px; 
  padding: 5px;
}

.subject-text{
text-transform: uppercase;
text-decoration: none;
color: black;
font-size: 6px;
}

#designs-title{
  position: relative;
  left: 3.5em;
  top: 41em;
}

#documents-title{
position: relative;
left: 3.5em;
top: 37.2em;
}

#photography-title{
position: relative;
left: 3em;
top: 37.2em;
}

}